@media only screen and (max-width: 1100px) and (min-width: 992px) {
  .hero-wrapper-2 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero-split {
    width: 100%;
    text-align: center;
    top: 0px;
  }

  .div-block-47 {
    width: 100%;
  }

  .image-56 {
    width: 100%;
  }

  .div-block-49 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .clients-image-three.operation_standdown {
    display: none;
  }
  .create_event_steps_section {
    padding: 100px 30px 80px 30px;
  }
  .container-44 {
    display: flex;
    flex-direction: column;
  }
  .div-block-104 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .eventcreation_card {
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding: 30px 30px 40px 30px;
    width: 100% !important;
    height: auto;
    align-items: baseline;
  }
  .step_content {
    width: auto !important;
  }
  .eventcontent_para {
    margin-top: 8px;
    margin-bottom: 16px !important;
  }
  .organize_section {
    padding: 80px 30px 100px 30px;
  }
  .control_section {
    padding: 80px 30px 100px 30px;
  }
  .inform_section {
    padding: 80px 30px 100px 30px;
  }
  .container-45 {
    display: none;
  }
  .container-46 {
    display: none;
  }
  .mobile_organize {
    display: block;
  }
  .image-95 {
    display: none;
  }
  .image-94 {
    display: none;
  }
  .image-86 {
    display: none;
  }
  .image-96 {
    display: none;
  }
  .image-88 {
    width: auto;
  }
  .image-87 {
    width: auto;
  }

  .control_left {
    display: none;
  }
  .control_right {
    display: none;
  }
  .mobile_control {
    display: block;
  }

  .inform_left {
    display: none;
  }
  .inform_right {
    display: none;
  }
  .mobile_inform {
    display: block;
  }

  .container-53 {
    margin-top: 50px;
  }
  .features {
    margin-top: 50px;
  }

  .container-54 {
    margin-top: 50px;
  }
  .control_features {
    margin-top: 60px;
  }

  .container-56 {
    margin-top: 50px;
  }
  .inform_features {
    margin-top: 50px;
  }
  .why_bugle_section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-48 {
    padding: 50px 20px 50px 20px;
    height: auto !important;
  }
  .why_bugle_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: auto;
  }
  .why_bugle_tile1 {
    margin-bottom: 50px;
    height: auto;
  }
  .why_bugle_tile2 {
    margin-bottom: 50px;
    height: auto;
  }
  .signUp_section {
    margin-top: 60px;
  }
  .bugle_plans {
    padding: 100px 30px;
  }
  .plans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .packages_header {
    margin-bottom: 40px;
  }
}
