@media only screen and (max-width: 400px) {
  .inform_update_images {
    width: 100%;
  }
  .event_featurelink_heading {
    width: 200px;
  }
}

@media only screen and (max-width: 474px) and (min-width: 400px) {
  .inform_update_images {
    width: 80%;
  }
}

@media only screen and (max-width: 479px) {
  .vol_profiles_images {
    height: 267px;
  }
  .image-90 {
    left: 48%;
  }
}

@media only screen and (max-width: 520px) and (min-width: 481px) {
  .vol_profiles_images {
    height: 320px;
  }
  .event_calendar_image {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) and (min-width: 521px) {
  .vol_profiles_images {
    height: 380px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 600px) {
  /* .image-90 {
    width: 45%;
    top: 14%;
    left: 55%;
  } */
  /* .vol_profiles_images {
    height: 357px;
  } */
}

@media only screen and (max-width: 660px) and (min-width: 640px) {
  .digital_checkout_images {
    width: 94%;
    margin: auto;
  }
}

@media only screen and (max-width: 700px) and (min-width: 660px) {
  .digital_checkout_images {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 739px) and (min-width: 700px) {
  .digital_checkout_images {
    width: 85%;
    margin: auto;
  }
}

@media only screen and (max-width: 991px) and (min-width: 740px) {
  .digital_checkout_images {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 992px) {
  .hero-wrapper-2 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero-split {
    width: 100%;
    text-align: center;
    top: 0px;
  }

  .div-block-47 {
    width: 100%;
  }

  .image-56 {
    width: 100%;
  }

  .div-block-49 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .clients-image-three.operation_standdown {
    display: none;
  }
  .create_event_steps_section {
    padding: 100px 30px 80px 30px;
  }
  .container-44 {
    display: flex;
    flex-direction: column;
  }
  .div-block-104 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .eventcreation_card {
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding: 30px 30px 40px 30px;
    width: 100% !important;
    height: auto;
    align-items: baseline;
  }
  .step_content {
    width: auto !important;
  }
  .eventcontent_para {
    margin-top: 8px;
    margin-bottom: 16px !important;
  }
  .organize_section {
    padding: 80px 30px 100px 30px;
  }
  .control_section {
    padding: 80px 30px 100px 30px;
  }
  .inform_section {
    padding: 80px 30px 100px 30px;
  }
  .container-45 {
    display: none;
  }
  .container-46 {
    display: none;
  }
  .mobile_organize {
    display: block;
  }
  .image-95 {
    display: none;
  }
  .image-94 {
    display: none;
  }
  .image-86 {
    display: none;
  }
  .image-96 {
    display: none;
  }
  .image-97 {
    display: none;
  }
  .image-88 {
    width: auto;
  }
  .image-87 {
    width: auto;
  }
  .image-90 {
    top: 12%;
    left: 53%;
  }

  .control_left {
    display: none;
  }
  .control_right {
    display: none;
  }
  .mobile_control {
    display: block;
  }

  .inform_left {
    display: none;
  }
  .inform_right {
    display: none;
  }
  .mobile_inform {
    display: block;
  }

  .container-53 {
    margin-top: 50px;
  }
  .features {
    margin-top: 50px;
  }

  .container-54 {
    margin-top: 50px;
    height: 555px;
  }
  .control_features {
    margin-top: 60px;
  }

  .container-56 {
    margin-top: 50px;
  }
  .inform_features {
    margin-top: 50px;
  }
  .why_bugle_section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-48 {
    padding: 50px 20px 50px 20px;
    height: auto !important;
  }
  .why_bugle_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: auto;
  }
  .why_bugle_tile1 {
    margin-bottom: 50px;
    height: auto;
    width: 100%;
  }
  .why_bugle_tile2 {
    margin-bottom: 50px;
    height: auto;
    width: 100%;
  }
  .why_bugle_tile3 {
    width: 100%;
  }
  .signUp_section {
    margin-top: 60px;
  }
  .bugle_plans {
    padding: 100px 30px;
  }
  .plans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .packages_header {
    margin-bottom: 40px;
  }
  .cardbutton.sendmessage {
    width: 94%;
    left: 3%;
  }
  .container-56 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inform_update_images {
    width: 65%;
    margin: 0 auto;
  }
  .vol_profiles_images {
    width: 80%;
    margin: 0 auto;
  }
  .event_registration_image {
    width: 58%;
    margin: auto;
  }
  .event_reg_image_2 {
    width: auto;
    left: 62%;
  }
  .event_calendar_image {
    height: 530px;
    justify-content: center;
    width: 90%;
  }
  .event_calendar_image_1 {
    width: 60%;
    height: 58%;
  }
  .event_calendar_image_2 {
    width: 60%;
    height: 58%;
    top: 37%;
    left: 41.5%;
  }
  .digital_waiver_image {
    width: 80%;
    margin: 0 auto;
  }
  .image-82 {
    width: 65%;
  }
  .image-83 {
    width: 65%;
    left: 31%;
  }
  .track_volunteer_hours {
    justify-content: center;
  }
  .image-79 {
    width: 36%;
  }
  .image-80 {
    width: 36%;
  }
  .enterprise_account {
    margin: 0 auto;
    width: auto;
  }
  .volunteer_shifts_image {
    width: auto;
    margin: 0 auto;
  }
  .image-81 {
    width: auto;
    margin: 0 auto;
  }
  .digital_checkout_images {
    width: 55%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1197px) and (min-width: 1101px) {
  .hero-wrapper-2 {
    height: 521px;
  }
}

@media only screen and (max-width: 540px) and (min-width: 480px) {
  .digital_waiver_image {
    width: 80%;
    height: 286px;
  }
  .image-82 {
    width: 70%;
  }
  .image-83 {
    width: 70%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 700px) {
  .digital_waiver_image {
    width: 80%;
    height: 460px;
  }
}

@media only screen and (max-width: 700px) and (min-width: 600px) {
  .digital_waiver_image {
    width: 80%;
    height: 391px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 540px) {
  .digital_checkout_images {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 620px) and (min-width: 540px) {
  .digital_waiver_image {
    width: 80%;
    height: 347px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 480px) {
  .digital_waiver_image {
    width: 80%;
    height: 300px;
  }
  .event_calendar_image_1 {
    height: 52%;
  }
  .event_calendar_image_2 {
    height: 52%;
  }
  .image-77 {
    max-height: 180px;
  }
  .image-76 {
    max-height: 450px;
  }
  .image-78 {
    max-height: 135px;
  }
}

@media only screen and (max-width: 540px) and (min-width: 480px) {
  .digital_checkout_images {
    width: 92%;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) and (min-width: 460px) {
  .digital_checkout_images {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 460px) and (min-width: 440px) {
  .digital_checkout_images {
    width: 85%;
    margin: auto;
  }
}

@media only screen and (max-width: 440px) and (min-width: 414px) {
  .digital_checkout_images {
    width: 94%;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) and (min-width: 325px) {
  .image-77 {
    max-height: 140px;
  }
  .image-76 {
    max-height: 356px;
  }
  .image-78 {
    max-height: 117px;
  }
}

@media only screen and (max-width: 420px) and (min-width: 350px) {
  .digital_waiver_image {
    width: 80%;
    height: 193px;
  }
}

@media only screen and (max-width: 414px) and (min-width: 325px) {
  .digital_checkout_images {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) and (min-width: 320px) {
  .event_calendar_image {
    width: 90%;
    margin: 0 auto;
  }
}
