@media only screen and (max-width: 1100px) and (min-width: 992px) {
  .hero-wrapper-2 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero-split {
    width: 100%;
    text-align: center;
    top: 0px;
  }

  .div-block-47 {
    width: 100%;
  }

  .image-56 {
    width: 100%;
  }

  .div-block-49 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .clients-image-three.operation_standdown {
    display: none;
  }
  .create_event_steps_section {
    padding: 100px 30px 80px 30px;
  }
  .container-44 {
    display: flex;
    flex-direction: column;
  }
  .div-block-104 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .eventcreation_card {
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding: 30px 30px 40px 30px;
    width: 100% !important;
    height: auto;
  }
}
